* {
  box-sizing: content-box;
  font-family: "TheJamsil5Bold";
}

@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 
body {
  background-color: rgb(250, 214, 220);
} */

.wrapper {
  background-color: rgb(250, 214, 220);
  margin: 0;
}

.wrapper-header {
  height: 80px;
  margin: 0;
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2em;
  margin-left: 15px;
}

.logout {
  width: 5em;
  height: 2.5em;
  margin-right: 20px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 15px;

  cursor: pointer;
}

.wrapper-body {
  margin: 30px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
}

ul {
  padding-left: 0;
}

#video-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  border: 1px solid #d7dae3;
  box-shadow: 1px 1px 10px #aaaaaa;
  background-color: white;
  padding: 15px;
  border-radius: 30px;
}

img {
  width: 15rem;
  margin-left: 8px;
  border: 4px solid rgb(106, 98, 98);
  border-radius: 20px;
}

.video-title {
  text-align: center;
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 800px) {
  .wrapper {
    background-color: rgb(250, 214, 220);
    margin: 0;
  }

  .wrapper-header {
    height: 80px;
    margin: 0;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    color: white;
    font-size: 2em;
    margin-left: 15px;
  }

  .logout {
    width: 5em;
    height: 2.5em;
    margin-right: 20px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 15px;

    cursor: pointer;
  }

  .wrapper-body {
    margin: 30px;
  }

  h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
  }

  ul {
    padding-left: 0;
  }

  #video-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    border: 1px solid #d7dae3;
    box-shadow: 1px 1px 10px #aaaaaa;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
  }

  img {
    width: 15rem;
    margin-left: 8px;
    border: 4px solid rgb(106, 98, 98);
    border-radius: 20px;
  }

  .video-title {
    text-align: center;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
  }
}
