/* .trend__wrapper {
  margin: 23px 10px 0 10px;
  font-size: 1em;
}

.trend__box__wrapper {
  display: inline-block;
  height: 790px;
}

.trend__keyword__box {
  width: 100vw;
  box-shadow: 1px 1px 3px 1px #aaaaaa;
  border-radius: 10px;
}

#trend__rank {
  text-align: left;
  padding: 17px;
}

#trend__title {
  text-align: center;
  text-decoration: none;
  color: #313a3d;
}

#trend__count__title {
  text-align: right;
}

#trend__count {
  text-align: right;
  color: #ec3340;
  padding-right: 10px;
} */
